@media (--compact-layout) {
  .header {
    flex-direction: column;
  }

  .manageButton {
    height: var(--button-height-md);
    padding-inline: var(--button-padding-x-md);
    @splice-type control;
  }
}
