.clickable {
  transition:
    background-color 150ms ease,
    transform 150ms ease;
}

@media (hover: hover) {
  .clickable:hover {
    background-color: var(--mantine-color-default-hover);
    transform: scale(0.995);
  }
}

@media (hover: none) {
  .clickable:active {
    background-color: var(--mantine-color-default-hover);
    transform: scale(0.98);
  }
}
