.toggle {
  --pressable-feedback-background: transparent;
}

.groupDivider {
  opacity: 0.6;
}

.groupHeader {
  background-color: light-dark(rgb(0 0 0 / 4%), rgb(0 0 0 / 14%));
}

.groupHeaderDivider {
  opacity: 0.5;
}

.accountDivider {
  opacity: 0.3;
}

.chevron {
  opacity: 0.6;
}

.toggle:focus-visible .chevron,
.toggle[data-pressed='true'] .chevron {
  opacity: 1;
}

@media (--supports-hover) {
  .toggle:hover .chevron {
    opacity: 1;
  }
}
