.title {
  font-size: var(--mantine-h1-font-size);
  line-height: var(--mantine-h1-line-height);
}
@media (--compact-layout) {
  .title {
    font-size: var(--mantine-h3-font-size);
    line-height: var(--mantine-h3-line-height);
  }
}
