.toggle {
  --pressable-feedback-background: transparent;
}

.chevron {
  opacity: 0.6;
}

.toggle:focus-visible .chevron,
.toggle[data-pressed='true'] .chevron {
  opacity: 1;
}

@media (--supports-hover) {
  .toggle:hover .chevron {
    opacity: 1;
  }
}
