body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.account-card-clickable {
  transition: border-color 150ms ease;
}

.account-card-clickable:hover {
  border-color: var(--mantine-color-blue-5);
}
