body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* Kill all focus rings on Recharts/Mantine chart elements */
.recharts-wrapper,
.recharts-surface,
[id*="recharts-zindex"] {
  outline: none !important;
  border: none !important;
}